<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <main class="form-signing text-center">
        <form method="POST" action="/login">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <h1 class="h3 mb-3 fw-normal" th:text="#{button.signIn}">로그인</h1>
                </div>
            </div>
            <div th:if="${errorMessage} ne null">
                <p class="field-error" th:text="${errorMessage}"></p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="email" class="form-control" name="email" id="email" th:value="${email}"  placeholder="id@example.com">
                        <label for="email" th:text="#{label.member.emailInput}">이메일 입력</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="password" th:placeholder="#{label.member.memberPassword}" >
                        <label for="password" th:text="#{lable.member.passwordInput}">비밀번호 입력</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-check col-md-4 mb-3">
                    <input class="form-check-input" type="checkbox" id="remember-me" name="remember-me" />
                    <label class="form-check-label" for="remember-me" th:text="#{lbael.member.stayLoggedIn}">
                        로그인 유지
                    </label>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 mb-3">
                    <button class="w-100 btn btn-lg btn-primary" type="submit" th:text="#{button.signIn}">로그인</button>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-4">
                   <a class="link-dark" href="/members/new" th:text="#{button.signUp}"><small>회원가입</small></a>
                </div>
            </div>
            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
            <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <p class="mt-5 mb-3 text-muted">© 2022 ~ </p>
                </div>
            </div>
        </form>
    </main>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>