<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6">
            <div class="page-header">
                <div class="col-12">
                    <p class="h4" th:text="#{page.book}">책상세</p>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label for="name" th:text="#{label.book.name}">책제목</label>
                    <input type="text" id="name" class="form-control" th:value="${book.name}" readonly>
                </div>
                <div class="form-group">
                    <label for="price" th:text="#{label.book.price}">책가격</label>
                    <input type="text" id="price" class="form-control" th:value="${book.price}" readonly>
                </div>
                <div class="form-group">
                    <label for="stockQuantity" th:text="#{label.book.stockQuantity}">책수량</label>
                    <input type="text" id="stockQuantity" class="form-control" th:value="${book.stockQuantity}" readonly>
                </div>
                <div class="form-group">
                    <label for="author" th:text="#{label.book.author}">저자</label>
                    <input type="text" id="author" class="form-control" th:value="${book.author}" readonly>
                </div>
                <div class="form-group">
                    <label for="isbn" th:text="#{label.book.isbn}">isbn</label>
                    <input type="text" id="isbn" class="form-control" th:value="${book.isbn}" readonly>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-primary"
                            onclick="location.href='updateBookForm.html'"
                            th:onclick="|location.href='@{/items/books/{bookId}/update(bookId=${book.id})}'|"
                            type="button" th:text="#{button.book.update}">책수정
                    </button>
                    <button class="btn btn-warning"
                            onclick="location.href='bookList.html'"
                            th:onclick="|location.href='@{/items}'|"
                            type="button" th:text="#{button.book.list}">상품목록
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
