<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
    </ul>
    <div class="text-center">
        <a href="/"><h3 class="text-muted" th:text="#{label.shopHeader}">CHANGSU SHOP</h3></a>
    </div>
    <div th:if="${session.loginMember == null}" class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight" ><a href="/login" class="link-primary">로그인</a></div>
<!--        <div class="p-2 bd-highlight">Flex item 2</div>-->
<!--        <div class="p-2 bd-highlight">Flex item 3</div>-->
    </div>
    <div th:if="${session.loginMember != null}" class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight" >
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-link" type="submit">
                    로그아웃
                </button>
            </form>
        </div>
        <div  class="p-2 bd-highlight">
            <a th:href="@{/members/{memberId}(memberId=${session.loginMember.id})}"
               th:utext="|<i class='bi bi-person-circle'></i> 로그인: ${session.loginMember.name}|"
               class="btn btn-link">

            </a>

        </div>

<!--                <div class="p-2 bd-highlight">Flex item 3</div>-->
    </div>
</div>
