<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <p>&copy; Changsu Shop V2</p>
    <div class="input-group">
        <label for="locales" class="m-0" th:text="#{lang.change}"></label>
        <select id="locales" class="form-control form-control-sm col-sm-4 col-md-3 col-lg-2 ml-2">
            <option value="" th:text="#{lang.default}"></option>
            <option value="ko" th:text="#{lang.kor}"></option>
            <option value="en" th:text="#{lang.eng}"></option>
        </select>
    </div>

</div>