<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <p class="h4 mb-3" th:text="#{page.item.list}"><strong>상품리스트</strong></p>
    <div>
        <form th:object="${itemSearch}" class="form-inline">
            <div class="form-group mb-2 mr-2">
                <select class="form-control"  th:field="*{dtype}">
                    <option th:value="ALL" th:text="전체"></option>
                    <option th:value="ALBUM" th:text="앨범"></option>
                    <option th:value="BOOK" th:text="책"></option>
                    <option th:value="MOVIE" th:text="영화"></option>
                </select>
            </div>
            <div class="form-group mb-2">
                <select class="form-control"  th:field="*{searchType}">
                    <option th:value="name" th:text="상품명"></option>
                </select>
            </div>
            <div class="form-group mb-2">
                <input type="text" th:field="*{searchText}" class="form-control" placeholder="입력하세요."/>
            </div>
            <button type="submit" class="btn btn-primary mb-2">검색</button>
        </form>
    </div>


    <div class="table-responsive-xl">
        <table class="table table-sm table-striped" style="width: 1100px;font-size: 15px;">
            <thead>
            <tr>
                <th style="width:10%;">#</th>
                <th style="width:15%;">상품타입</th>
                <th style="width:25%;">상품명</th>
                <th style="width:15%;">가격</th>
                <th style="width:10%;">재고수량</th>
                <th style="width:15%;">수정일</th>
                <th style="width:10%;"></th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.dtype}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td th:text="${#temporals.format(item.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <a href="#" th:if="${item.dtype == 'ALBUM'}" th:href="@{/items/albums/{albumId}/update (albumId=${item.id})}"
                       class="btn btn-sm btn-primary" role="button" th:text="#{button.album.update}">앨범수정</a>
                    <a href="#" th:if="${item.dtype == 'BOOK'}" th:href="@{/items/books/{bookId}/update (bookId=${item.id})}"
                       class="btn btn-sm btn-primary" role="button" th:text="#{button.book.update}">책수정</a>
                    <a href="#" th:if="${item.dtype == 'MOVIE'}" th:href="@{/items/movies/{movieId}/update (movieId=${item.id})}"
                       class="btn btn-sm btn-primary" role="button" th:text="#{button.movie.update}">영화수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="align-items:center; display: flex; justify-content:center;" th:if="${!items.isEmpty()}">
        <nav
                th:with="
                pageNumber = ${items.pageable.pageNumber},
                pageSize = ${items.pageable.pageSize},
                totalPages = ${items.totalPages},
                startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1 },
                tempEndPage = ${startPage + pageSize - 1},
                endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})
            " aria-label="Page navigation"
        >
            <ul class="pagination ">
                <li th:classappend="${pageNumber<= pageSize} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/items(page=0,dtype=${itemSearch.dtype},searchType=${itemSearch.searchType},searchText=${itemSearch.searchText})}">
                        <span>&laquo;</span>
                        <span class="sr-only">First</span>
                    </a>
                </li>

                <li th:classappend="${items.first} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="${items.first} ? '#' :
                    @{/items(page=${pageNumber - 1},dtype=${itemSearch.dtype},searchType=${itemSearch.searchType},searchText=${itemSearch.searchText})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                    th:classappend="${page == pageNumber + 1 } ? 'active'" class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{/items(page=${page - 1},dtype=${itemSearch.dtype},searchType=${itemSearch.searchType},searchText=${itemSearch.searchText})}">
                    </a>
                </li>

                <li th:classappend="${items.last} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="${items.last} ? '#' :
                    @{/items(page=${pageNumber + 1},dtype=${itemSearch.dtype},searchType=${itemSearch.searchType},searchText=${itemSearch.searchText})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>

                <li th:classappend=" ${T(Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/items(page=${totalPages - 1},dtype=${itemSearch.dtype},searchType=${itemSearch.searchType},searchText=${itemSearch.searchText})}">
                        <span>&raquo;</span>
                        <span class="sr-only">Last</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>